* {
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  box-sizing: border-box;
  padding: 2rem 2rem 1.25rem;

  display: flex;
  flex-direction: column;

  user-select: none;

  color: var(--primary-9);
}

#app {
  flex: 1 0 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.keydown {
  background-color: cornflowerblue !important;
}

button.key {
  position: relative;
  box-shadow: 4px 4px var(--primary-8);
  margin-right: 4px;

  outline: none;
  border: 2px solid var(--primary-8);
  background: var(--bg);
  color: inherit;

  font-family: "Ubuntu Mono";

  transition: background-color 0.055s ease-out;
}

button.pressable:active {
  top: 4px;
  left: 4px;
  box-shadow: none;
}
