:root {
  --bg: #fff;
  --shadow-1: #ddd;
  --shadow-9: #666;

  --primary-7: #444;
  --primary-8: #333;
  --primary-9: #000;

  --selection-bg: initial;
  --selection-text: initial;

  --width-normal: 650px;
  --width-large: 800px;

  --point-cornflower-light: cornflowerblue;
  --point-cornflower-dark: #3c5a9e;
  --point-coralorange-light: #ff8a65;
  --point-coralorange-dark: #e58e73;
  /* --point-coralorange-dark: cornflowerblue;
  --point-coralorange-light: #3c5a9e;
  --point-cornflower-dark: #ff8a65;
  --point-cornflower-light: #e58e73; */

  /* --point-coralorange-light: #ff7043; */
  --point-mutedcoral-light: #e57373;
  --point-mutedcoral-dark: #d66d6d;
}

:root.dark {
  --bg: #222;
  --shadow-1: #333;
  --shadow-9: #aaa;

  --primary-7: #999;
  --primary-8: #bbb;
  --primary-9: #ddd;
}
